<a href="https://colab.research.google.com/github/JaviLaura/Cleaning_Data_2-datetime-/blob/main/Cleaning_Data_2_(datetime).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

personID = [100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120]
TV = [2,.5,6,3,4,2,0,.5,3,0,2.5,3.5,2,6,4,1.5,2,3,7,4,0]
VideoGames = [1.5,3,0,0,.5,0,5,3,2,.5,.5,0,3,4,1.5,1,2,2.5,3.5,1.5,0]
Reading = [0,0,.5,0,1.5,.5,.5,0,0,3,0,.5,1,.5,1.5,0,4,0,2,1,.5]
Sleeping = [9,8.5,10,7.5,9,8.5,7,9.5,8,8,8.5,11,10,6.5,8,8.5,9,9,8,9.5,8]
Date = ["06/02/2017","06/05/2017","07/11/2017","06/16/2017","06/25/2017","06/01/2017","06/19/2017","06/30/2017","07/03/2017","07/06/2017","06/12/2017","06/08/2017","06/23/2017","06/11/2017","06/25/2017","07/02/2017","06/24/2017","06/03/2017","06/09/2017","06/18/2017","07/03/2017"]

In [ ]:
#Creating a new DF
timeDF = pd.DataFrame(list(zip(personID,TV,VideoGames, Reading, Sleeping, Date)),columns=["personID","TV","VideoGames","Reading", "Sleeping", "Date"])
display(timeDF)

    personID   TV  VideoGames  Reading  Sleeping        Date
0        100  2.0         1.5      0.0       9.0  06/02/2017
1        101  0.5         3.0      0.0       8.5  06/05/2017
2        102  6.0         0.0      0.5      10.0  07/11/2017
3        103  3.0         0.0      0.0       7.5  06/16/2017
4        104  4.0         0.5      1.5       9.0  06/25/2017
5        105  2.0         0.0      0.5       8.5  06/01/2017
6        106  0.0         5.0      0.5       7.0  06/19/2017
7        107  0.5         3.0      0.0       9.5  06/30/2017
8        108  3.0         2.0      0.0       8.0  07/03/2017
9        109  0.0         0.5      3.0       8.0  07/06/2017
10       110  2.5         0.5      0.0       8.5  06/12/2017
11       111  3.5         0.0      0.5      11.0  06/08/2017
12       112  2.0         3.0      1.0      10.0  06/23/2017
13       113  6.0         4.0      0.5       6.5  06/11/2017
14       114  4.0         1.5      1.5       8.0  06/25/2017
15       115  1.5         1.0      0.0       8.5  07/02/2017
16       116  2.0         2.0      4.0       9.0  06/24/2017
17       117  3.0         2.5      0.0       9.0  06/03/2017
18       118  7.0         3.5      2.0       8.0  06/09/2017
19       119  4.0         1.5      1.0       9.5  06/18/2017
20       120  0.0         0.0      0.5       8.0  07/03/2017

In [ ]:
#Displaying data types
timeDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   personID    21 non-null     int64
 1   TV          21 non-null     float64
 2   VideoGames  21 non-null     float64
 3   Reading     21 non-null     float64
 4   Sleeping    21 non-null     float64
 5   Date        21 non-null     object
dtypes: float64(4), int64(1), object(1)
memory usage: 1.1+ KB

In [ ]:
#Converting to datetime format
timeDF["Date"] = pd.to_datetime(timeDF["Date"])
#Datetime is not int/float/etc.

In [ ]:
timeDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   personID    21 non-null     int64
 1   TV          21 non-null     float64
 2   VideoGames  21 non-null     float64
 3   Reading     21 non-null     float64
 4   Sleeping    21 non-null     float64
 5   Date        21 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 1.1 KB

In [ ]:
#Assigning specific date
date = dt.datetime(2017,7,1)
print(date)

2017-07-01 00:00:00

In [ ]:
#Finding current time now
currentTime = dt.datetime.now()
print(currentTime)

2022-10-26 20:06:24.929551

In [ ]:
#Displaying only dates that occur before July 1st
timeDFJune = timeDF[timeDF["Date"] < date]
display (timeDFJune)

    personID   TV  VideoGames  Reading  Sleeping       Date
0        100  2.0         1.5      0.0       9.0 2017-06-02
1        101  0.5         3.0      0.0       8.5 2017-06-05
3        103  3.0         0.0      0.0       7.5 2017-06-16
4        104  4.0         0.5      1.5       9.0 2017-06-25
5        105  2.0         0.0      0.5       8.5 2017-06-01
6        106  0.0         5.0      0.5       7.0 2017-06-19
7        107  0.5         3.0      0.0       9.5 2017-06-30
10       110  2.5         0.5      0.0       8.5 2017-06-12
11       111  3.5         0.0      0.5      11.0 2017-06-08
12       112  2.0         3.0      1.0      10.0 2017-06-23
13       113  6.0         4.0      0.5       6.5 2017-06-11
14       114  4.0         1.5      1.5       8.0 2017-06-25
16       116  2.0         2.0      4.0       9.0 2017-06-24
17       117  3.0         2.5      0.0       9.0 2017-06-03
18       118  7.0         3.5      2.0       8.0 2017-06-09
19       119  4.0         1.5      1.0       9.5 2017-06-18

In [ ]:
#Sorting from earliest to latest date
timeDFJune = timeDFJune.sort_values(by="Date")
display(timeDFJune)

    personID   TV  VideoGames  Reading  Sleeping       Date
5        105  2.0         0.0      0.5       8.5 2017-06-01
0        100  2.0         1.5      0.0       9.0 2017-06-02
17       117  3.0         2.5      0.0       9.0 2017-06-03
1        101  0.5         3.0      0.0       8.5 2017-06-05
11       111  3.5         0.0      0.5      11.0 2017-06-08
18       118  7.0         3.5      2.0       8.0 2017-06-09
13       113  6.0         4.0      0.5       6.5 2017-06-11
10       110  2.5         0.5      0.0       8.5 2017-06-12
3        103  3.0         0.0      0.0       7.5 2017-06-16
19       119  4.0         1.5      1.0       9.5 2017-06-18
6        106  0.0         5.0      0.5       7.0 2017-06-19
12       112  2.0         3.0      1.0      10.0 2017-06-23
16       116  2.0         2.0      4.0       9.0 2017-06-24
4        104  4.0         0.5      1.5       9.0 2017-06-25
14       114  4.0         1.5      1.5       8.0 2017-06-25
7        107  0.5         3.0      0.0       9.5 2017-06-30

In [ ]:
#Creating a new column that adds up all time spent on all activities
timeDFJune["All_Time_Spent"] = timeDFJune["TV"] + timeDFJune["VideoGames"] + timeDFJune["Reading"] + timeDFJune["Sleeping"]
display(timeDFJune)

    personID   TV  VideoGames  Reading  Sleeping       Date  All_Time_Spent
5        105  2.0         0.0      0.5       8.5 2017-06-01            11.0
0        100  2.0         1.5      0.0       9.0 2017-06-02            12.5
17       117  3.0         2.5      0.0       9.0 2017-06-03            14.5
1        101  0.5         3.0      0.0       8.5 2017-06-05            12.0
11       111  3.5         0.0      0.5      11.0 2017-06-08            15.0
18       118  7.0         3.5      2.0       8.0 2017-06-09            20.5
13       113  6.0         4.0      0.5       6.5 2017-06-11            17.0
10       110  2.5         0.5      0.0       8.5 2017-06-12            11.5
3        103  3.0         0.0      0.0       7.5 2017-06-16            10.5
19       119  4.0         1.5      1.0       9.5 2017-06-18            16.0
6        106  0.0         5.0      0.5       7.0 2017-06-19            12.5
12       112  2.0         3.0      1.0      10.0 2017-06-23            16.0
16       116  2.0         2.0      4.0       9.0 2017-06-24            17.0
4        104  4.0         0.5      1.5       9.0 2017-06-25            15.0
14       114  4.0         1.5      1.5       8.0 2017-06-25            15.0
7        107  0.5         3.0      0.0       9.5 2017-06-30            13.0

In [ ]:
#Displaying all time unaccounted for
timeDFJune["Unrecorded_Time_Spent"] = 24 - timeDFJune["All_Time_Spent"]
display(timeDFJune)

,personID,TV,VideoGames,Reading,Sleeping,Date,All_Time_Spent,Unrecorded_Time_Spent
5,105,2.0,0.0,0.5,8.5,2017-06-01,11.0,13.0
0,100,2.0,1.5,0.0,9.0,2017-06-02,12.5,11.5
17,117,3.0,2.5,0.0,9.0,2017-06-03,14.5,9.5
1,101,0.5,3.0,0.0,8.5,2017-06-05,12.0,12.0
11,111,3.5,0.0,0.5,11.0,2017-06-08,15.0,9.0
18,118,7.0,3.5,2.0,8.0,2017-06-09,20.5,3.5
13,113,6.0,4.0,0.5,6.5,2017-06-11,17.0,7.0
10,110,2.5,0.5,0.0,8.5,2017-06-12,11.5,12.5
3,103,3.0,0.0,0.0,7.5,2017-06-16,10.5,13.5
19,119,4.0,1.5,1.0,9.5,2017-06-18,16.0,8.0
6,106,0.0,5.0,0.5,7.0,2017-06-19,12.5,11.5
12,112,2.0,3.0,1.0,10.0,2017-06-23,16.0,8.0
16,116,2.0,2.0,4.0,9.0,2017-06-24,17.0,7.0
4,104,4.0,0.5,1.5,9.0,2017-06-25,15.0,9.0
14,114,4.0,1.5,1.5,8.0,2017-06-25,15.0,9.0
7,107,0.5,3.0,0.0,9.5,2017-06-30,13.0,11.0

In [ ]:
timeDFJune["Waking_Time_Spent"] = (timeDFJune["TV"] / (24 - timeDFJune["Sleeping"])) * 100
display(timeDFJune)

,personID,TV,VideoGames,Reading,Sleeping,Date,All_Time_Spent,Unrecorded_Time_Spent,Waking_Time_Spent
5,105,2.0,0.0,0.5,8.5,2017-06-01,11.0,13.0,12.903226
0,100,2.0,1.5,0.0,9.0,2017-06-02,12.5,11.5,13.333333
17,117,3.0,2.5,0.0,9.0,2017-06-03,14.5,9.5,20.000000
1,101,0.5,3.0,0.0,8.5,2017-06-05,12.0,12.0,3.225806
11,111,3.5,0.0,0.5,11.0,2017-06-08,15.0,9.0,26.923077
18,118,7.0,3.5,2.0,8.0,2017-06-09,20.5,3.5,43.750000
13,113,6.0,4.0,0.5,6.5,2017-06-11,17.0,7.0,34.285714
10,110,2.5,0.5,0.0,8.5,2017-06-12,11.5,12.5,16.129032
3,103,3.0,0.0,0.0,7.5,2017-06-16,10.5,13.5,18.181818
19,119,4.0,1.5,1.0,9.5,2017-06-18,16.0,8.0,27.586207
6,106,0.0,5.0,0.5,7.0,2017-06-19,12.5,11.5,0.000000
12,112,2.0,3.0,1.0,10.0,2017-06-23,16.0,8.0,14.285714
16,116,2.0,2.0,4.0,9.0,2017-06-24,17.0,7.0,13.333333
4,104,4.0,0.5,1.5,9.0,2017-06-25,15.0,9.0,26.666667
14,114,4.0,1.5,1.5,8.0,2017-06-25,15.0,9.0,25.000000
7,107,0.5,3.0,0.0,9.5,2017-06-30,13.0,11.0,3.448276